<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
<% include partials/userheader %>
<div id="main">
<div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
    <div class="container-fluid page-content-div" style="padding:0">
       <div class="row">
          <div class="col-lg-12 scoll-possible" style="padding:0">

<div class="container">
<div style="margin-top:30px;">
<div class="col-12">
     <div class="card allSidesSoft">
         <div class="card-body">
            <%= typeof msg != 'undefined' ? msg : '' %>
           <div class="d-flex">
               <form class="image-container" method="post" action="/userUpload" enctype="multipart/form-data" id="profilepicform">
                   <img src="<%= typeof file != 'undefined' ? file : 'default.png' %>" id="user-profile-image" style="width: 150px; height: 150px" class="img-thumbnail allSidesSoft">
                   <div class="middle">
                        <input type="file" id="profileUpload" name="profilePhoto">
                        <input type="submit" class="btn btn-default btn-sm" id="changeProfilePicBtn">
                   </div>
               </form>
           </div>

           <br>
           <form method="post" action="/editProfile">
             <div class="panel-group">
               <!--Form panel-->
               <div class="panel panel-default editUserPanel">
                 <div class="panel-heading">Basic Info</div>
                   <div class="panel-body">
                       <div class="form-group">
                               <label>Email :</label>
                               <input type="text" id="email" class="form-control" name="username" disabled="true">
                       </div>
                       <div class="form-group">
                           <label>Name :</label>
                           <input type="text" id="fullname" class="form-control" name="fullname" autocomplete="off" required="">
                       </div>
                       <div class="form-group col-sm-5" style="padding:0">
                           <label>DOB :</label>
                           <input class="form-control dobDate" id="date" value="" name="dob" placeholder=" Not Updated" type="text" autocomplete="off" required="">
                       </div>
                       <div class="form-group col-sm-5 col-sm-push-2" style="padding:0">
                               <label>Gender :</label>
                               <select name="gender" class="form-control">
                                   <optgroup label="Select Gender">         
                                   <option value="male">Male</option>
                                   <option value="female">Female</option>  
                                   <option value="transgender">Transgender</option>    
                               </optgroup>
                               </select>
                       </div>
                   </div>
               </div>

               <div class="panel panel-default editUserPanel">
                 <div class="panel-heading">Contact Info</div>
                   <div class="panel-body">
                     <div class="form-group">
                             <label>Phone :</label>
                             <input type="text" class="form-control" id="phone" name="phone" maxlength="10" required="">
                     </div>
                     <div class="form-group">
                             <label>City :</label>
                             <input type="text" class="form-control" id="city" name="city" required="">
                     </div>
                   </div>
                 </div>

                 <br>

                 <div class="form-group">
                         <a href="/userchangepass" class="btn btn-warning pull-left btnEditForm" style="margin:1px">Change Password</a>
                         <a href="/userhome" class="btn btn-danger pull-right btnEditForm" style="margin:1px">Cancel</a>
                         <input type="submit" class="btn btn-primary pull-right btnEditForm" style="margin:1px" value="Update">
                 </div>

               </div>
           </form>
         </div>
    </div>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>

<script>
<% include partials/script %>
var email=document.getElementById("email");
var namee=document.getElementById("fullname");
var dob=document.getElementById("date");
var phone=document.getElementById("phone");
var city=document.getElementById("city");

var old=new XMLHttpRequest();
old.open("GET","/data");
old.onload=function()
{
  var data=JSON.parse(old.responseText);
  email.value=data[0].email;
  namee.value=data[0].name;
  dob.value=data[0].dob;
  phone.value=data[0].phone;
  city.value=data[0].city;
}
old.send();
</script>

</html>